# Gateway
SERVER_PORT=8080
JWT_SECRET=super-secret-key-change-me-in-production-min-32-chars

# Microservicios (producción — Render)
AUTH_SERVICE_URL=https://authservice-lzwi.onrender.com
CHAT_SERVICE_URL=https://chatservice-l7qc.onrender.com
CHAT_SERVICE_WS_URL=wss://chatservice-l7qc.onrender.com
ANALYTICS_SERVICE_URL=https://backend-analytics-4xq4.onrender.com
COURSE_SERVICE_URL=https://courseservice-0n2q.onrender.com
MATCHING_SERVICE_URL=https://matchingservice.onrender.com
USER_SERVICE_URL=https://userservice-829g.onrender.com
EXAM_SERVICE_URL=https://examservice-6p78.onrender.com
AGENT_SERVICE_URL=https://agente-ia-2gzx.onrender.com

# Redis (Rate Limiting)
REDIS_HOST=localhost
REDIS_PORT=6379
